* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,
  html {
    color: #636363;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    line-height: 1.5;
  }
  html{
    scroll-behavior: smooth;
  }
  html li {
    list-style: none;
  }
  html a{
    text-decoration: none;
    color: #000c04;
  
  }
  .text-center{
    text-align: center;
  }
  ul{
    display: block;
  }
  
  
  a.read{
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189A46;
    color: #000c04;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
  }
 section{
  display: block;
 }
  /* header */
  .fixed_top {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  header{
    background-color: var(--bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .header_content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  .header_content .logo {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189a46;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .navbar a{
    color: #000c04;
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
  }
  .navbar a:hover{
    color: #189A46;
    
  }
  
  .right {
    right: 0;
    position: absolute;
  }
  
  navbar-toggler-icon {
    color: #fff;
      line-height: 34px;
      background-color: #189A46;
      border-radius: 5px;}
  
  /* gallery BREADCRUMB */
  .gallery-breadcrumb{
    margin-top: 90px;
    background: url(../img/banner4.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 1em 0;
  }
  .gallery-breadcrumb h2.title{
    font-size: 50px;
    font-weight: 600;
    color: #fff ;
  }
  .breadcrumbs-custom-path li{
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;}

    .breadcrumbs-custom-path li span.fa {
        font-size: 12px;
        vertical-align: 2px;}

  .breadcrumbs-custom-path li a{
    
    color: #189A46;
  }
  
  .breadcrumbs-custom-path li.active{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
  }

   /* GALLERY CONTENT */
   .gallery-title h6{ 
    color: #f53626;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 2em;
        letter-spacing: 1px;

   }
   .gallery-title h3{
    font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        text-transform: capitalize;
        color:#000c04;
   }

     /* ABOUT US FOOTER */
     footer{
        
      background: #111;
      display: block;
     }
  
     .footer_content{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      
     }
  
     .footer_content a{
      text-decoration: none;
      color: #999;
      background-color: transparent;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
     }
  
     .footer-title{
      color: #fff;
      font-size: 20px;
      line-height: 26px;
      font-weight: 600;
      margin-bottom: 25px;
     }
  
     .social-icons{
      display: flex;
     }
     
     .social-icons li{
      margin: 0 10px;
     }
     .social-icons a{
      display: block;
  
     }
  
     .copy-footer .copy-content a{
      color: #f53626;
     }
  
  
     
      